.tabh-style{
  padding: 3% 2% 5% 2%;
  attachment: fixed;
}

.btn-avance{
  background-color: red;
  color: white;
  font-family: fantasy;
  font-weight: bold;
}

.titulo-h{
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.atr-hist{
  text-align: center;
}

.atr-m{
  width: 12%;
}

.atr-s{
  width: 9%;
}

.atr-lg{
  width: 15%;
}

.ovf{
  overflow: auto;
}

.select-semestre{
    border-width: thin;
    border-color: blue;
}
