.info-style{
  padding: 3% 10% 3% 10%;
  attachment: fixed;
}

.reg-sol{
  height: 10vh;
  overflow: auto;
}

.form-control{
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.box-hist{
  box-shadow: 10px 10px 20px;
  margin-bottom: 2rem;
  border-color: #06115d;
}

.card-body{
  word-wrap: normal;
}

.subtit{
  font-style: italic;
  font-weight: bold;
  margin-top: 1rem;
}

.btn-end-sop{
  text-align: right;
}

.sol-ovfw{
  overflow: auto;
}

.tit-info-equipo{
  text-align: center;
}

.box-info-equipo{
  border-top-width: medium;
  border-width: medium;
    border-top-color: rgba(255, 0, 150, 0.5);
    border-bottom-color:  rgba(255, 0, 150, 0.5);
}

.btn-h{
  height: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
}
