.cont-style{
  padding: 5% 10% 5% 10%;
  attachment: fixed;
}
 .titulo-hms{
   text-align: center;
   text-decoration: inherit;
   font-style: italic;
   font-weight: bold;
 }

.atributo-sht{
  width: 5%
}

.atributo{
  width: 13%;
}

.atrib-stl{
  text-align: center;
  font-family: fantasy;
}

.atrib-ext{
  text-align: left;
}

table tr td{
  text-align: center;
}

.descprob{
  padding: 0;
}

.page-container{
  position: relative;
  min-height: 73vh;
}

table tbody tr:hover{
  background-color: rgba(10, 0, 255, 0.3);
}
