.my-footer{
  background-color: black;
  padding-top: 2rem !important;
}

.tit-footer{
  color: white;
  font-weight: bold;
  font-family: fantasy;
  font-size: 110%;
}

#Facultad{
  font-size: 1.4rem;
}

html {
  min-height: 100%;
  position: relative;
}

.inf-footer{
  color: white;
  text-align: left;
  font-style: italic;
  font-size: 90%;
}

.cont-footer{
  max-width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.cr-style{
  color: white;
  font-size: 80%;
  font-style: oblique;
  padding-top: 1%;
  padding-bottom: 1%;
}

.fa {
  padding: 12px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
