.my-footer{
  background-color: black;
}

.tit-footer{
  color: white;
  font-weight: bold;
  font-family: fantasy;
  font-size: 110%;
}

#Facultad{
  font-size: 1.4rem;
}

html {
  min-height: 100%;
  position: relative;
}

.inf-footer{
  color: white;
  text-align: left;
  font-style: italic;
  font-size: 90%;
}

.cont-footer{
  max-width: 90%;
}

.cr-style{
  color: white;
  font-size: 80%;
  font-style: oblique;
}
